html {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb-color) var(--light-platinum);
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 20px;
  padding-bottom: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-platinum);
  border-radius: 20px;
}

::-webkit-scrollbar-track:hover {
  background-color: var(--light-platinum);
}

::-webkit-scrollbar-track:active {
  background-color: var(--light-platinum);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover-color);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--orange-dark-color);
}

.dark ::-webkit-scrollbar-thumb:active {
  background-color: var(--white-color);
}
